#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "ifconfig-io"
name = "ifconfig-io"
description.en = "Tool to find your own IP address"
description.fr = "Outil pour trouver votre propre adresse IP"

version = "2026.01.11~ynh1"

maintainers = ["Fabian Wilkens"]

[upstream]
license = "MIT"
website = "https://ifconfig.io/"
demo = "https://ifconfig.io"
code = "https://github.com/georgyo/ifconfig.io/"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "750M"
ram.build = "1000M"
ram.runtime = "80M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/ifconfig"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    url = "https://github.com/georgyo/ifconfig.io/archive/8623c1f0a5e5282aa47029b906e6c7d219be9764.tar.gz"
    sha256 = "95ecc1dcea4f21fde28778c24f43dc6446702a7908380e3c8f94afd0e32caccb"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.go]
    version = "1.22"
