#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "ifconfig-io"
name = "ifconfig-io"
description.en = "IP API service to get their public IP address"
description.fr = "Service API IP pour obtenir leur adresse IP publique"

version = "2025.09.10~ynh1"

maintainers = ["Fabian Wilkens"]

[upstream]
license = "MIT"
website = "https://ifconfig.io/"
demo = "https://ifconfig.io"
code = "https://github.com/georgyo/ifconfig.io/"

[integration]
yunohost = ">= 11.2.12"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/ifconfig"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    url = "https://github.com/georgyo/ifconfig.io/archive/b4e50f84bd879011b2b939e40041220e397025cc.tar.gz"
    sha256 = "8c4c8df81e69355da5458f33ff4fef23564197e49072e614582a4afcaaa30df5"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
